{% extends "base.html" %}{% load hosts %}

{% block title %}About{% endblock %}

{% block body %}
<article>

  <h1>About the JISC OpenCitations Project</h1>

  <section>
    <h2>Project scope and purpose</h2>
  
    <p>
      The Open Citations Project is global in scope, designed to change the
      face of scientific publishing and scholarly communication. Specifically,
      it aims to make it possible to publish bibliographic and citation
      information in RDF and to make citation links as easy to traverse as Web
      links.
    </p>
{% comment %}
  <aside>
    <p>
      Note: In this context, a bibliographic citation is a reference within a
      particular citing work to another publication termed the cited work.
      This use of the word ‘citation’ should be clearly distinguished from the
      common related use of this word to indicate the cited work itself.
      Within this application, ‘cite’ and &#8216;citation&#8217; denote the
      performative act of citation itself, not the target document of that
      citation.
    </p>
  </aside>
{% endcomment %}
  </section>

  <section>
    <h2>Project aims</h2>

    <p>To achieve this goal, we have had four primary aims:</p>

    <ul>
      <li>To create a <em>semantic infrastructure</em> that makes possible the
          description of citations, references and bibliographic entities in
          RDF, since we found existing ontologies inadequate for our purpose.</li>

      <li>To extend that semantic infrastructure to handle <em>data citations
          and data entities</em>, as well as bibliographic citations and
          bibliographic entities, mindful of Philip Bourne's prediction that
          soon there will be no meaningful difference between a journal article
          and a database entry.</li>

      <li>To <em>provide exemplars</em> of how these ontologies can be applied
          to real-world data, by <em>creating mappings</em> from existing
          encodings to RDF, and by <em>creating RDF metadata</em> relating to
          bibliographic and data entities and their citations.</li>
      <li>To <em>convert the reference lists within all the PMC Open Access
          subset articles to RDF</em>, and to publish them as open linked data
          that third parties can use in novel ways.</li>
    </ul>
  </section>

    <section>
      <h2>Principle deliverables and outputs</h2>

      <ul>
        <li>The <a href="http://purl.org/spar/">SPAR</a> (Semantic Publishing and Referencing) Ontologies.</li>
        <li>Mappings of various existing metadata schemes to RDF using SPAR.</li>
        <li><a href="http://www.essepuntato.it/graffoo">Graffoo</a> and <a href="http://lode.sourceforge.net/">LODE</a>, two novel tools for ontology visualization and documentation.</li>
        <li>The <a href="http://opencitations.wordpress.com/">Open Citations Blog</a> in which activities and outputs are described.</li>
        <li>The <em>Open Citations Corpus</em> of bibliographic citation data encoded in RDF and published as Open Linked Data.</li>
        <li>The <a href="{% host_url index on data %}">OpenCitations.net</a> web site, to provide user access to the Open Citations Corpus.</li>
      </ul>
    </section>

    <section>
      <h2>Primary beneficiaries</h2>

      <ul>
        <li>Scholars worldwide, particularly in the biomedical sciences, by providing better access to bibliographic and citation data.</li>
        <li>Academic publishers and repository managers, by providing a semantic infrastructure and tools to enable their outputs and holdings to join the semantic web of open linked data.</li>
      </ul>
    </section>


</article>

{% endblock %}
