{% load hosts %}<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <title>{% block title %}{% endblock %} | JISC Open Citations</title>
    <link rel="stylesheet" type="text/css" href="/site-media/base.css"/>
    <link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}favicon.png"/>
    <meta charset="utf-8"/>
    <script type="application/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.2/prototype.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block extrahead %}{% endblock %}
  </head>
  <body><div class="container">
    <header>
      <div class="title">JISC Open Citations</div>
    </header>
    <nav>
      <ul>
        <li><a href="{% host_url index on data %}">Home</a></li>
        <li><a href="{% host_url about on data %}">About</a></li>
        <li><a href="{% host_url explore-data on data %}">Explore the data</a></li>
        <li><a href="{% host_url source-code on data %}">Source code</a></li>
        <li><a href="{% host_url contact on data %}">Contact</a></li>
        <li><a href="{% host_url license on data %}">License</a></li>
      </ul>{% block subnav %}{% endblock %}
    </nav>

    {% block body %}{% endblock %}

    <footer>
      <div class="logos">
        <img class="logo logo-jisc" src="{{ MEDIA_URL }}logos/jisc.gif" alt=""/>
        <img class="logo logo-ibrg" src="{{ MEDIA_URL }}logos/ibrg.png" alt=""/>
        <img class="logo logo-oxford" src="{{ MEDIA_URL }}logos/oxford.gif" alt=""/>
      </div>
      <p>
        This is a project of <a href="http://ibrg.zoo.ox.ac.uk/">IBRG</a>, and was undertaken
        at the <a href="http://www.zoo.ox.ac.uk/">Department of Zoology</a>,
        <a href="http://www.ox.ac.uk/">University of Oxford</a>.
      </p>
      <p>
        The project was funded by the <a href="http://www.jisc.ac.uk/">JISC</a>'s
        <a href="http://www.jisc.ac.uk/whatwedo/programmes/inf11/jiscexpo.aspx">jiscEXPO</a> strand.
      </p>
      <div style="clear:both"> </div>
    </footer>
  </div>{% if google_analytics %}{% include "analytics/include.html" %}{% endif %}</body>
</html>

