{% extends "base.html" %}{% load hosts %}

{% block title %}Home{% endblock %}

{% block extrahead %}{% if feed %}
<link rel="alternate" type="application/rss+xml" title="{{ feed.feed.title }}" href="{{ feed.href }}" />
{% endif %}{% endblock %}

{% block body %}
<article>

    
  <h1>Home</h1>
  
  <p>Open Citations is a public RDF triplestore for biomedical literature
     citations. Our aim is to harvest the reference lists from many current
     and recent open access journal articles, and to convert these datasets
     into RDF, starting with those in UK Pubmed Central.</p>
  
  <p>The project was funded by the <a href="http://www.jisc.ac.uk/">JISC</a>'s
     <a href="http://www.jisc.ac.uk/whatwedo/programmes/inf11/jiscexpo.aspx">jiscEXPO
     strand</a>.</p>
     
  <p>This website is an exemplar, allowing access to roughly one tenth of the
     data in the PubMed Central Open Access corpus. The entire dataset can be
     downloaded from our <a href="{% host_url source-data on data %}">source
     data</a> page.</p>

{% if feed %}
  <section class="blog-feed">
    <h2><a href="{{ feed.feed.link }}">Project blog</a> — recent posts:</h2>

    {% for entry in feed.entries|slice:":9" %}
      <article class="blog-entry{% if forloop.counter0|divisibleby:3 %} clear-left{% endif %}">
        <h3><a href="{{ entry.link }}">{{ entry.title }}</a></h3>

        <p class="blog-entry-date">{{ entry.updated_datetime }}</p>

        {{ entry.content.0.value|truncatewords_html:30|safe }}

        <p class="blog-entry-more"><a href="{{ entry.link }}">Continue reading &#10145;</a></p>
      </article>
        
    {% endfor %}
  </section>
{% endif %}
     
  <div style="clear:both;"> </div>
</article>
{% endblock %}