{% extends "base.html" %}{% load hosts %}

{% block title %}Home{% endblock %}

{% block extrahead %}{% if feed %}
<link rel="alternate" type="application/rss+xml" title="{{ feed.feed.title }}" href="{{ feed.href }}" />
{% endif %}{% endblock %}

{% block body %}
<article>

  <h1>Home</h1>

  <p>Open Citations is a database of biomedical literature citations, harvested
     from the reference lists of all open access articles in
     <a href="http://www.ncbi.nlm.nih.gov/pmc/">PubMed Central</a> that
     reference ~20% of all PubMed Central papers (approx. 3.4 million papers),
     including all the highly cited papers in every biomedical field.  All the
     data are freely available for download and reuse.</p>

  <p>This web site allows you to browse these bibliographic records and
     citations, to select an individual article, and to visualize its citation
     network in a variety of displays.  Details of each selected reference, and
     the data and diagrams for its citation network, may be downloaded in a
     variety of formats, while the entire Open Citations Corpus can be
     downloaded from our <a href="{% host_url source-data on data %}">source
     data</a> page in several formats including RDF and BibJSON.</p>

  <p>Our aim for the future is to work with publishers to make available the
     reference lists from many more current and recent journal articles,
     starting with the biomedical literature, and to make the citations
     contained within them available as Open Linked Data in the manner
     demonstrated by the existing exemplar data available here.</p>

  <p>The Open Citations Project was funded by the
     <a href="http://www.jisc.ac.uk/">JISC</a>'s
     <a href="http://www.jisc.ac.uk/whatwedo/programmes/inf11/jiscexpo.aspx">jiscEXPO
     strand</a>.  Further information is given on the
     <a href="http://opencitations.wordpress.com/">Open Citations Blog</a>.</p>

{% if feed %}
  <section class="blog-feed">
    <h2><a href="{{ feed.feed.link }}">Project blog</a> — recent posts:</h2>

    {% for entry in feed.entries|slice:":9" %}
      <article class="blog-entry{% if forloop.counter0|divisibleby:3 %} clear-left{% endif %}">
        <h3><a href="{{ entry.link }}">{{ entry.title }}</a></h3>

        <p class="blog-entry-date">{{ entry.updated_datetime }}</p>

        {{ entry.content.0.value|truncatewords_html:30|safe }}

        <p class="blog-entry-more"><a href="{{ entry.link }}">Continue reading &#10145;</a></p>
      </article>
        
    {% endfor %}
  </section>
{% endif %}
     
  <div style="clear:both;"> </div>
</article>
{% endblock %}
