{% extends "base.html" %}

{% block title %}License {% endblock %}

{% block body %}
<article>
  <h1>License</h1>

  <p>The outputs of this project are available for re-use under the following terms:</p>

  <h2>Data</h2>

  <p>The data are made available under the terms of the <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0 1.0 Universal</a> license.</p>

  <p><strong>Non-normative: You are free to use the data for whatever purpose without restriction.</strong></p>

  <h2>Website</h2>

  <p>The website design and prose are made available for re-use under the terms of the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a> license. Please attribute to <em>The OpenCitations Project</em> with a link to <a href="http://opencitations.net/">http://opencitations.net/</a>.</p>

  <p>All non-HTML parts of this website are data and are distributed under as CC0.</p>

  <p><strong>Non-normative: You are free to use the website design and text for whatever purpose, provided you properly attribute the project.</strong></p>

  <h2>Source code</h2>

  <p>The project source code as available <a href="https://github.com/opencitations/">on GitHub</a> are distributed under the terms of the <abbr title="Open-Source Initiative">OSI</abbr>-approved <a href="http://www.opensource.org/licenses/mit-license.php">MIT license</a>.</p>

  <p>The templates and media for the website within the repository are licensed as CC-BY 3.0.</p>

  <p><strong>Non-normative: You are free to use the source code for this project for whatever purpose so long as you preserve the copyright notice alongside the code and agree to its disclaimer.</strong></p>
</article>
{% endblock %}
