{% extends "explore-data.html" %}{% load humfrey_desc %}

{% block title %}Search{% if query_term %}: {{ query_term }}{% endif %}{% endblock %}

{% block body %}

<article>
  <h1>Search</h1>
  
  <section>
    <h2>Query</h2>
    
    <p>Enter an identifier (e.g. ISBN, ISSN, eISSN, DOI, PMID, PMCID) to search for.</p>
    
    <form method="get" action="">
      <label for="identifier">Search identifiers:</label>
      <input id="identifier" name="identifier" value="{{ identifier|default_if_none:"" }}"/>
      <input type="submit" value="Search"/>
    </form>
    
    <p>Alternatively, provide a string for which to return exact matches.</p>
    
    <form method="get" action="">
      <label for="query">Query:</label>
      <input id="query" name="query" value="{{ query|default_if_none:"" }}"/>
      <input type="submit" value="Search"/>
    </form>
  </section>
  
  {% if results %}
  <section>
    <h2>Results</h2>
    
    <table class="results">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
{% if results.0.thing %}
{% for result in results %}
        <tr>
          <td><a href="{{ result.thing.doc_url }}">{{ result.label|default_if_none:"<em>Unnamed entity</em>" }}</a></td>
          <td>{{ result.type|node }}</td>
        </tr>
{% endfor %}
{% else %}
        <tr class="row-odd">
          <td colspan="2">No results were found.</td>
        </tr>
{% endif %}
      </tbody>
    </table>
  </section>
  {% endif %}
  
  {% include "queries.html" %}
</article>
{% endblock %}